#Python Course II - Weekly class demos and Exercises summary  
- (Mon, Wed) - (8am-10:30am) - (2.5h class/demos/labs) / 30 min practice
- Course II - 9 weeks
- Weekly Assignments - 20 hours - due next week Monday
- 3 Class Quizzes
- 3 Data Analysis Quizzes - short data sql code example
- Step-by-tep class topic demos

#Github Course Notebook Refence

https://github.com/deanliit/2-25-Python-Intro-to-Advanced

## Python references
- Course book

## Python Course II Weekly Class Assignment #2
<pre>
<xmp>
Reading Assignments:
Python tutorial

https://www.w3schools.com/python/default.asp
Python Modules

https://www.w3schools.com/python/pandas/default.asp
Pandas

https://www.w3schools.com/python/pandas/pandas_series.asp
Series

https://www.w3schools.com/python/pandas/pandas_dataframes.asp
Dataframes

Assignment Exercises:

Complete all of the exercises, display output from each exercises
Optional create exercises in Google Colabs notebooks


Create a google collabs notebooks
Create code in vs.code
Complete all of the exercises, display output from each exercises

Python tutorial examples
https://www.w3schools.com/python/python_examples.asp
Python Modules

https://www.w3schools.com/python/pandas/default.asp
https://www.w3schools.com/python/pandas/pandas_series.asp
Series

https://www.w3schools.com/python/pandas/pandas_dataframes.asp
Dataframes

Python Course Book Chapter
Intermediate Exercises


</xmp>
</pre>

Introduction to Python

https://www.w3schools.com/python/python_intro.asp


<pre>

---------------------------------------------
#Course II Module Summary
-----------------------------------------------

Module #1
- Git, GitHub introduction
- Creating python command line applications
- Python main app  __name__
- Parameter array: *args, **kvargs
- Import Modules
- Error handling
- pip install python-library-name
- Course I review
- Other

Moduls #2
- Python Data Analysis, EDA, ETL
- Pandas
- Graphs
- SQL
- Other

Module #3
- Class, OOP
- Lamda
- Other

Module #4
- Html introduction
- Beautiful soup screen scraping
- Other

Module 5
- Python ai, ml, npl introduction
- PCAP Exam prep
- Other

</pre>

In [ ]:
#-- weekly topic summary
#
#Data Analysis
#Other

#Data Analysis - EDA, ETL, ELT, SQL
- Pandas - unstructured data, text files, json and structured data ie: dataframe
- Numpy - used to create and manage arrays
- SQL - structured data , Structured Query Language

<pre>
<xmp>
EDA, ETL, ELT, SQL AI/ML
----------------------------------------------------------

https://www.programiz.com/python-programming/pandas/dataframe-manipulation

https://www.w3schools.com/python/pandas/pandas_intro.asp


#Data analysis - (EDA)

https://www.programiz.com/python-programming/pandas/getting-started


  - business intelligence - ie: charts, graphs, visualize data, dashboard, manually make predictions, reccomendations
  - EDA - Eploritory Data Analysis
- manipulating - sql and text or no-sql data
- create, update, delete - (CRUD)
- filtering and selecting data
- remove null or error data
- grouping data
- create graph and charts
- Other

#ETL - Extract Transform Load
- extract importing data or read in data
- Transofrom - converting data to a dataframe or new data view ie: SQL, pandas
- Load - exporting data to a source
- custom code - ELT or ELT tools -
- Source - Trnsfoprm - Destination

</xmp>
</pre>

In [2]:
#pandas demo #1 =- EDA, ETL, ELT
#https://www.programiz.com/python-programming/pandas/series
#
#dataframe = in-memory table - rows, columns
#ie: sql - filter, add, update, delete
#pandas - many sql features, join, etc
#
#pandas / SQL comparison
#pandas joins
#-left, right, inner, full outer join
#
#https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html
#
#rename columns, delete dataframe, other

"""

A
---
1
2
3

"""

import pandas as pd
print(pd.DataFrame({"A":[1,2,3]}))

print("index-1 = ", pd[1])

   A
0  1
1  2
2  3

In [4]:
# Create a simple Pandas Series
numbers = pd.Series([10, 20, 30, 40, 50])

# Print the Series
print("Pandas Series:")
print(numbers)

print("index-1: ", numbers[1])

Pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64
index-1:  20

In [6]:
# create a list
a = [1, 3, 5]

# create a series and specify labels
my_series = pd.Series(a, index = ["x", "y", "z"])

print(my_series)
print("")

# display the value with label y
print("index-y", my_series["y"])

x    1
y    3
z    5
dtype: int64

index-y 3

In [ ]:
# create a dictionary
grades = {"Semester1": 3.25, "Semester2": 3.28, "Semester3": 3.75}

# select specific dictionary items using index argument
my_series = pd.Series(grades, index = ["Semester1", "Semester2"])

# display the series
print(my_series)

In [12]:
#pandas demo #2 =- EDA, ETL, ELT
#https://www.programiz.com/python-programming/pandas/dataframe
#
#dataframe = in-memory table - rows, columns
#ie: sql - filter, add, update, delete
#pandas - many sql features, join, etc
#
#pandas / SQL comparison
#pandas joins
#-left, right, inner, full outer join
#
#https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html
#
#rename columns, delete dataframe, other

'''
Name  Age City
John  25  NY
Alice 30  UK
Bob   35  P
'''

# create a dictionary
data = {'Name': ['John', 'Alice', 'Bob'],
       'Age': [25, 30, 35],
       'City': ['New York', 'London', 'Paris']}

# create a dataframe from the dictionary
df = pd.DataFrame(data)

print(df.head(2))
print("")
print(df.tail(2))

    Name  Age      City
0   John   25  New York
1  Alice   30    London

    Name  Age    City
1  Alice   30  London
2    Bob   35   Paris