#Python Course II - Weekly class demos and Exercises summary  
- (Mon, Wed) - (8am-10:30am) - (2.5h class/demos/labs) / 30 min practice
- Course II - 9 weeks
- Weekly Assignments - 20 hours - due next week Monday
- 3 Class Quizzes
- 3 Data Analysis Quizzes - short data sql code example
- Step-by-tep class topic demos

#Github Course Notebook Refence

https://github.com/deanliit/2-25-Python-Intro-to-Advanced

## Python references
- Course book

## Python Course II Weekly Class Assignment #3
<pre>
<xmp>

Reading Assignments:

https://www.w3schools.com/python/pandas/pandas_csv.asp
Read csv

https://www.w3schools.com/python/pandas/pandas_json.asp
Read Json

https://www.w3schools.com/python/pandas/pandas_analyzing.asp
Analyzing data

Assignment Exercises:
Complete all of the exercises, display output from each exercises
Optional create exercises in Google Colabs notebooks

Create a google collabs notebooks
Create code in vs.code
Complete all of the exercises, display output from each exercises
Python tutorial examples

https://www.w3schools.com/python/pandas/pandas_csv.asp
Read csv

https://www.w3schools.com/python/pandas/pandas_json.asp
Read Json

https://www.w3schools.com/python/pandas/pandas_analyzing.asp
Analyzing data

Python Course Book Chapter
Intermediate Exercises

</xmp>
</pre>

Introduction to Python

https://www.w3schools.com/python/python_intro.asp


<pre>

---------------------------------------------
#Course II Module Summary
-----------------------------------------------

Module #1
- Git, GitHub introduction
- Creating python command line applications
- Python main app  __name__
- Parameter array: *args, **kvargs
- Import Modules
- Error handling
- pip install python-library-name
- Course I review
- Other

Moduls #2
- Python Data Analysis, EDA, ETL
- Pandas
- Graphs
- SQL
- Other

Module #3
- Class, OOP
- Lamda
- Other

Module #4
- Html introduction
- Beautiful soup screen scraping
- Other

Module 5
- Python ai, ml, npl introduction
- PCAP Exam prep
- Other

</pre>

In [ ]:
#-- weekly topic summary
#
#Data Analysis
#Other

#Numpy - array management and mani[pultaion ]
#https://www.programiz.com/python-programming/numpy/array-creation

#Pandas
#https://www.programiz.com/python-programming/pandas/getting-started

#Pandas sql comparison
#https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html

#Data Analysis - EDA, ETL, ELT, SQL
- Pandas - unstructured data, text files, json and structured data ie: dataframe
- Numpy - used to create and manage arrays
- SQL - structured data , Structured Query Language

<pre>
<xmp>
EDA, ETL, ELT, SQL AI/ML
----------------------------------------------------------

https://www.programiz.com/python-programming/pandas/dataframe-manipulation

https://www.w3schools.com/python/pandas/pandas_intro.asp


#Data analysis - (EDA)

https://www.programiz.com/python-programming/pandas/getting-started


  - business intelligence - ie: charts, graphs, visualize data, dashboard, manually make predictions, reccomendations
  - EDA - Eploritory Data Analysis
- manipulating - sql and text or no-sql data
- create, update, delete - (CRUD)
- filtering and selecting data
- remove null or error data
- grouping data
- create graph and charts
- Other

#ETL - Extract Transform Load
- extract importing data or read in data
- Transofrom - converting data to a dataframe or new data view ie: SQL, pandas
- Load - exporting data to a source
- custom code - ELT or ELT tools -
- Source - Trnsfoprm - Destination

</xmp>
</pre>

In [2]:
#https://www.programiz.com/python-programming/pandas/indexing-slicing

import pandas as pd

# create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 32, 18, 47, 33],
    'City': ['New York', 'Paris', 'London', 'Tokyo', 'Sydney']
}

df = pd.DataFrame(data)

# access the Name column

#ie: sql select name from table
names = df['Name']

#select name, city from table
name_city = df[['Name','City']]

print(names)
print(name_city)

0      Alice
1        Bob
2    Charlie
3      David
4        Eve
Name: Name, dtype: object
      Name      City
0    Alice  New York
1      Bob     Paris
2  Charlie    London
3    David     Tokyo
4      Eve    Sydney

In [ ]:
import pandas as pd

# create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 32, 18, 47, 33],
    'City': ['New York', 'Paris', 'London', 'Tokyo', 'Sydney']
}
df = pd.DataFrame(data)

# access a single row
single_row = df.loc[2]

print("Single row:")
print(single_row)
print()

# access rows 0, 3 and 4
row_list = df.loc[[0, 3, 4]]

print("List of Rows:")
print(row_list)
print()

# access a list of columns
column_list = df.loc[:,['Name', 'Age']]

print("List of Columns:")
print(column_list)
print()

# access second row of 'Name' column
specific_value = df.loc[1, 'Name']

print("Specific Value:")
print(specific_value)

In [5]:
import pandas as pd

# create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 32, 18, 47, 33],
    'City': ['New York', 'Paris', 'London', 'Tokyo', 'Sydney']
}

df = pd.DataFrame(data)

# boolean indexing with .loc
#boolean_index = df.loc[df['Age'] > 30]
#boolean_index = df.iloc[df['Age'] > 30] #n/a
#or
#boolean_index = df.loc[[1,3,4]]
boolean_index = df.iloc[[1,3,4]]

print("Filtered DataFrame: ")
print(boolean_index)

Filtered DataFrame:
    Name  Age    City
1    Bob   32   Paris
3  David   47   Tokyo
4    Eve   33  Sydney

In [ ]:
import pandas as pd

# create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 22, 27, 29],
    'Salary': [50000, 60000, 45000, 55000, 52000]
}

df = pd.DataFrame(data)

# selecting a single column
name_column = df['Name']

print("Selecting single column: Name")
print(name_column)
print()

# selecting multiple columns
age_salary_columns = df[['Age', 'Salary']]

print("Selecting multiple columns: Age and Salary")
print(age_salary_columns.to_string(index=False))
print()

# selecting rows using slicing
selected_rows = df[1:4]

print("Selecting rows 1 to 3")
print(selected_rows.to_string(index=False))
print()

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 22, 28, 35],
    'Score': [85, 90, 75, 80, 95]
}

df = pd.DataFrame(data)

# select the rows where the age is greater than 25
selected_rows = df.query('Age > 25')

print(selected_rows.to_string(index = False))

In [ ]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 22, 28, 24]
}

df = pd.DataFrame(data)

# create a list of names to select
names_to_filter = ['Bob', 'David']

# use isin() to select rows based on the 'Name' column
selected_rows = df[df['Name'].isin(names_to_filter)]

print(selected_rows.to_string(index = False))

In [ ]:
import pandas as pd

# create dataframe
data = {
    'Name': ['John', 'Anna', 'Johnny', 'Anna', 'John'],
    'Age': [28, 24, 28, 24, 19],
    'City': ['New York', 'Las Vegas', 'New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)

# check for duplicate entries in columns Name and Age
print(df.duplicated(subset=['Name', 'Age']))

In [ ]:
import pandas as pd

# create dataframe
data = {
    'Name': ['John', 'Anna', 'John', 'Anna', 'John'],
    'Age': [28, 24, 28, 24, 19],
    'City': ['New York', 'Los Angeles', 'New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

# remove duplicates
df.drop_duplicates(inplace=True)

print(df)

In [ ]:
#https://www.programiz.com/python-programming/pandas/data-cleaning

#https://www.programiz.com/python-programming/pandas/datetime

#https://www.programiz.com/python-programming/pandas/plot

In [ ]:
import pandas as pd

# create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 32, 18, 47, 33],
    'City': ['New York', 'Paris', 'London', 'Tokyo', 'Sydney']
}
df = pd.DataFrame(data)

# access single row
single_row = df.iloc[2]

# access rows 0, 3 and 4
row_list = df.iloc[[0, 3, 4]]

# access columns 0 and 2
column_list = df.iloc[:,[0,2]]

# access a specific value
specific_value = df.iloc[1, 0]

# display result
print("Single Row:")
print(single_row)
print()
print("List of Rows:")
print(row_list)
print()
print("List of Columns:")
print(column_list)
print()
print("Specific Value:")
print(specific_value)

In [ ]:
import pandas as pd

# create a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 32, 18, 47, 33],
    'City': ['New York', 'Paris', 'London', 'Tokyo', 'Sydney']
}
df = pd.DataFrame(data)

# slice rows from position 1 to 3
slice_rows = df.iloc[1:4]

# slice columns from position 0 to 1
slice_columns = df.iloc[:, 0:2]

# display results
print("Sliced Rows:")
print(slice_rows)
print()
print("Sliced Columns:")
print(slice_columns)