#Python Course I - Weekly class demos and Exercises summary  
- (Mon, Wed) - (8am-10:30am) - (2.5h class/demos/labs) / 30 min practice
- Course I - 7 weeks
- Weekly Assignments - 20 hours - due next week Monday
- 3 Class Quizzes
- Step-by-tep class topic demos

#Github Course Notebook Refence

https://github.com/deanliit/2-25-Python-Intro-to-Advanced

#Weekly Homework , Class Assignment, Class Project

### Class Quiz - Email link to google forms
### Weekly 20 hour Course Labs and Assignments email

- practice examples from w3schools
- examples from course book

## Python references
- Course book

## Python class - weekly assignment #4 - due next week Monday
<pre>

Reading Assignments:

Python tutorial
https://www.w3schools.com/python/default.asp

-Python Lists
-Python Tuples
-Python Set

Assignment exercises
Complete all of the exercises, display output from each exercises
Optional create exercises in Google Colabs notebooks
https://www.w3schools.com/python/python_examples.asp

Create a google collabs notebooks
Create code in vs.code
Complete all of the exercises, display output from each exercises

-Python Lists
-Python Tuples
-Python Set

</pre>

Introduction to Python

https://www.w3schools.com/python/python_intro.asp


<pre>

---------------------------------------------
#Course I Module Summary
-----------------------------------------------

# Module 1
---------------------------
Python fundamentals
Data type
Variables
Input
if, for, while loop
Other

# Module 2
----------------------------
Array index
Slicers, list comprehension  
Functions
File input
Other

# Module 3
--------------------------------
Data structures
Array, set, list, tuple, map
Classes
Lamda
Other

#optional - Module 4
---------------------------------
Intro to data analyst using python
Pandas, numpy
SQL
Other

</pre>

# demo invoice/inventory program
# python console program , other python programs

#Intro to Python
- https://www.w3schools.com/python/python_intro.asp
- input, casting, loop, if, other
- other

#Review course quiz ie:
- 3 quizzes for course 1, approx. every 2 weeks
- 1 week to complete quiz
- quiz review before and after a quiz
- 6 multiple choice and 1 fill-in coding

In [ ]:
#week2-demo-4.py
#python variables - in memory data that you will use later in your code

#variables / data types
title1 = "intro to python's"  #string
title2 = 'intro to python"s'  #string
num1 = "3.0"    #string
num2 = 3    #number - integer number
num3 = 3.1    #number - floating point number including decimal
var2 = True  #Boolean , true, false

#print variables
print(title1, num1, num2)

#concatination or combining string output
print(title2 + num1)

#seperator
print(title1,num1,num2,sep=",")

#print f
_str_title = title1 + num1

print(f"{title1},{num1},{num2}, {num3}")
print(f"{title1 + num1},{num1},{num2}, {num3}")
print(f"{_str_title},{num1},{num2}, {num3}")

#number , decimal formating
print("%s, %s" % ("title1: ",title1))
print(f"%s, {num3:.2f}" % title1)

print("{}".format(title1))
print("{} {}".format(title1, num1))

#vs.code install and intro

#casting
#error when concatinating string and number

#sameple python invoice, inventory program vers1..2..3

intro to python's 3.0 3
intro to python"s3.0
intro to python's,3.0,3
intro to python's,3.0,3, 3.1
intro to python's3.0,3.0,3, 3.1
intro to python's3.0,3.0,3, 3.1
title1: , intro to python's
intro to python's, 3.10
intro to python's
intro to python's 3.0

# Software development best practice summary

<pre>
<xmp>
more efficient way of writing program
optimizing program, or refactoring program:
  --------------------------------------------
Development Best practice steps for many programs
--------------------------------------------
#1. import libraries
#2. get user input, files, database, web, other
#3. string data type
#4. cast string to other data type int, float, bool, other
#5. retrive system data and time
#6. retrieve day, month, year
#7. calculating total for 3 input items
#8. calculation or numerical expression
#9. rounding
#10. cast data from 1 type to another
#11. loop through a list of items
#12. varify if data is true/false ie: making a decision true/false
#13. output data - screen, file, database, web, other
# other

</xmp>
</pre>

In [ ]:
#week2-demo-app-1.py
#- input, casting, loop, if, other

"""
Write a program to compute total of two invoice/inventory items.
note: can use integer or float numbers

example:
item1 -- 1
item2 -- ?

total ???

#print("total: ", total)

"""

#solution 1

item1 = 5     #int
item2 = 10.5  #float

#calculation - python expresions
total = (item1 + item2)

print("total: ", total)

#other print examples
#print(f"")
#print(sep=)
#print("",end=)
#print("{}".format())
#print(" %s " % ())

total:  15.5

In [ ]:
#week3-demo-app-1.py
#- input, casting, loop, if, other

"""
Write a program to compute total of three invoice/inventory items.
note: can use integer or float numbers
note: can prompt for input

example:
item1 -- 1
item2 -- ?
item3 -- 1

total ???

#print("total: ", total)
"""

#solution 1

item1 = 5     #int
item2 = 10.5  #float
item3 = 15    #int

#calculation - python expresions
total = (item1 + item2 + item3)

print("total: ", total)

#cast number to string also: int, str, float, boolean, other
#TypeError: can only concatenate str (not "float") to str
print("total: " + str(total))

print(f"total: {total}")

#other print examples
#print(f"")
#print(sep=)
#print("",end=)
#print("{}".format())
#print(" %s " % ())

total:  30.5
total: 30.5
total: 30.5

In [ ]:
#week3-demo-app-2.py
#- input, casting, loop, if, other

"""
Write a program to compute total of three invoice/inventory items.
note: can use integer or float numbers
note: can prompt for input

example:
item1 -- 1
item2 -- ?
item1 -- 1

total ???

#print("total: ", total)
"""

#solution 1

item1 = 5     #int
item2 = 10.5  #float
#item3 = "15.1"    #string, if cast to int python generate an error, because data type is float string
item3 = "15"    #string, no error if convert int to float, because float is a larger data type

#casting

#calculation - python expresions
#cast number to string also: int, str, float, boolean, other
#TypeError: unsupported operand type(s) for +: 'float' and 'str'

#total = (item1 + item2 + float(item3)) #float is larger than int `
total = (item1 + item2 + int(item3))

#cast number to string also: int, str, float, boolean, other
#TypeError: can only concatenate str (not "float") to str
print("total: " + str(total))
print(f"total: {total}")

#other print examples
#print(f"")
#print(sep=)
#print("",end=)
#print("{}".format())
#print(" %s " % ())

total: 30.5
total: 30.5

In [ ]:
#week3-demo-app-2-1.py
#- input, casting, loop, if, other

"""
Write a program to compute total of three invoice/inventory items.
note: can use integer or float numbers
note: can prompt for input

example:
item1 -- 1
item2 -- ?
item1 -- 1

total ???

#print("total: ", total)
"""

#solution 1

item1 = 5     #int
item2 = 10.5  #float
#item3 = "15.1"    #string, if cast to int python generate an error, because data type is float string
item3 = "15"    #string, no error if convert int to float, because float is a larger data type

#casting

#calculation - python expresions
#cast number to string also: int, str, float, boolean, other
#TypeError: unsupported operand type(s) for +: 'float' and 'str'

#total = (item1 + item2 + float(item3)) #float is larger than int `
total = (item1 + item2 + int(item3))

#cast number to string also: int, str, float, boolean, other
#TypeError: can only concatenate str (not "float") to str
print("total: " + str(total))
print(f"total: {total}")
print("total: {}".format(total))

#other print examples
#print(f"")
#print(sep=)
#print("",end=)
#print("{}".format())
#print(" %s " % ())

total: 30.5
total: 30.5
total: 30.5

In [ ]:
#week3-demo-app-3.py
#- input, casting, loop, if, other

"""
Write a program to compute total of three invoice/inventory items.
note: can use integer or float numbers
note: can prompt for input

example:
item1 -- 1
item2 -- ?
item1 -- 1

total ???

#print("total: ", total)
"""

#solution 1

#prompting at keyboard for user input

item1 = input("item1: ") #string, user can enter int or float, other data
item2 = input("item2: ") #string, user can enter int or float, other data
item3 = input("item3: ") #string, user can enter int or float, other data

#calculation - python expresions
#reccomended: cast smaller type to larger type ie: int to float

#logical error - unexpected result - not a code syntax error
#total = (item1 + item2 + item3)

#float to int cast err - casting a larger type float to a smmer type integer
#ValueError: invalid literal for int() with base 10: '10.5'
#total = (int(item1) + int(item2) + int(item3))
total = (float(item1) + float(item2) + float(item3))

print("total: " + str(total))
print(f"total: {total}")

#other print examples
#print(f"")
#print(sep=)
#print("",end=)
#print("{}".format())
#print(" %s " % ())

item1: 5
item2: 10.5
item3: 15
total: 30.5
total: 30.5

In [ ]:
#week3-demo-app-4.py
"""
Write a program to compute total of ten invoice/inventory items.
note: can use integer or float numbers
note: can prompt for input
note: round to 2 decimal places

input example:
item1 -- 1
item2 -- ?
item3 -- 1
.....

output:
total ???

#print("total: ", total)
#note: display other print formatting statements

"""

item1 = 5 #float(input("item1: "))
item2 = 15.3 #float(input("item2: "))
item3 = 20 #float(input("item3: "))
item4 = 5 #float(input("item4: "))
item5 = 10 #float(input("item5: "))
item6 = 30 #float(input("item6: "))
item7 = 35 #float(input("item7: "))
item8 = 212.5 #float(input("item8: "))
item9 = 11.5 #float(input("item9: "))
item10 = 20.4 #float(input("item10: "))

#logical errors - unxpected resut
#syntax errors - code error
total = (item1 + item2 + item3 + item4 + item5 + item6 + item7 + item8 + item9 + item10)
round_total = round(total,2)

print("total: ", total)
print("total: " + str(total))
#other print: sep, f"", "s%" % (var)

total:  364.7
total: 364.7

In [ ]:
#other examples; input name, string length, uppercase, loop intro , array , if statement demo, other
#loop , range demo, array demo

#week3-input-if-demo-1.py
name = input("name: ")
email = input("email: ")

print("name:",name.upper(),"email:",email.upper(),sep=",")
print("length name", len(name))
print(f"name: {name.upper()}, email: {email.upper()} ")

name: ann
email: ann@gmail.com
name:,ANN,email:,ANN@GMAIL.COM
length name 3
name: ANN, email: ANN@GMAIL.COM

In [ ]:
#other examples; input name, string length, uppercase, loop intro , array , if statement demo, other
#loop , range demo, array demo
#loops, for, while

#week3-loop-demo-1.py

#indented code syntas
#: end of an expression
for i in range(10):
  #inside loop - any valid python code
  print("item: ", i)

item:  0
item:  1
item:  2
item:  3
item:  4
item:  5
item:  6
item:  7
item:  8
item:  9

In [ ]:
#other examples; input name, string length, uppercase, loop intro , array , if statement demo, other
#loop , range demo, array demo
#loops, for, while

#week3-loop-demo-2.py

#indented code syntas
#: end of an expression
for i in range(1,10):
  #inside loop - any valid python code
  print("item: ", i)

item:  1
item:  2
item:  3
item:  4
item:  5
item:  6
item:  7
item:  8
item:  9

In [ ]:
#other examples; input name, string length, uppercase, loop intro , array , if statement demo, other
#loop , range demo, array demo
#loops, for, while, nested loops

#week3-loop-demo-2.py

#indented code syntas - space or tabs
#: end of an expression
for i in range(1,10):
 #inside loop - any valid python code
 print("item: ", i)
 #tab, space alignment error
 #all code must be with the same indented mar
 # print("")
 for z in range(5):
    print("z: ", z)

item:  1
z:  0
z:  1
z:  2
z:  3
z:  4
item:  2
z:  0
z:  1
z:  2
z:  3
z:  4
item:  3
z:  0
z:  1
z:  2
z:  3
z:  4
item:  4
z:  0
z:  1
z:  2
z:  3
z:  4
item:  5
z:  0
z:  1
z:  2
z:  3
z:  4
item:  6
z:  0
z:  1
z:  2
z:  3
z:  4
item:  7
z:  0
z:  1
z:  2
z:  3
z:  4
item:  8
z:  0
z:  1
z:  2
z:  3
z:  4
item:  9
z:  0
z:  1
z:  2
z:  3
z:  4

In [ ]:
#other examples; input name, string length, uppercase, loop intro , array , if statement demo, other
#loop , range demo, array demo
#loops, for, while, nested loops

#week3-loop-demo-3.py

#while (logical expression - true/false) exit loop
#logical error
# can have an endless loop if i is not incremented
#python used variable from cell above

i = 0
#or while(var1 not equal value1)
while i < 10:
 #true condition
 print("item: ", i)
 i = i + 1
else:
  #flase condiftion after loop completes
  print("loop complete")

if i == 10:
    print("loop completed=")

item:  0
item:  1
item:  2
item:  3
item:  4
item:  5
item:  6
item:  7
item:  8
item:  9
loop complete

In [ ]:
#other examples; input name, string length, uppercase, loop intro , array , if statement demo, other
#loop , range demo, array demo

#week3-array-demo-1.py

"""
#can contain duplicates, can contain unique values, can be read only
#length of array, access index of an array
#loop through array, access index, insert, update, delete, search
"""
arr1 = [1,6,34.7,36,346,37.18,6]
arr2 = ["item1","item2", 3, 5, 3]

print("arr1 length: ", len(arr1))
print("arr2 length: ", len(arr2))

arr1 length:  7
arr2 length:  5

In [ ]:
#other examples; input name, string length, uppercase, loop intro , array , if statement demo, other
#loop , range demo, array demo

#week3-array-demo-2.py

"""
#can contain duplicates, can contain unique values, can be read only
#length of array, access index of an array
#loop through array, access index, insert, update, delete, search
"""
arr1 = [1,6,34.7,36,346,37.18,6]
arr2 = ["item1","item2", 3, 5, 3]

print("")
print(arr1)
print("")


print("arr1 length: ", len(arr1))
print("arr2 length: ", len(arr2))

print("")

for i in arr1:
  print("item: ", i)

[1, 6, 34.7, 36, 346, 37.18, 6]

arr1 length:  7
arr2 length:  5

item:  1
item:  6
item:  34.7
item:  36
item:  346
item:  37.18
item:  6

In [ ]:
#other examples; input name, string length, uppercase, loop intro , array , if statement demo, other
#loop , range demo, array demo

#week3-array-demo-3.py

"""
#can contain duplicates, can contain unique values, can be read only
#length of array, access index of an array
#loop through array, access index, insert, update, delete, search
"""
arr1 = [1,6,34.7,36,346,37.18,6]
arr2 = ["item1","item2", 3, 5, 3]

print("")
print(arr1)
print("")


print("arr1 length: ", len(arr1))
print("arr2 length: ", len(arr2))

print("")

for i in arr1:
  print("item: ", i)

#access array index
#index out of bound
print("\n-- array index -- \n")
print("index-0 arr1: ", arr1[0])
print("index-1 arr1: ", arr1[1])
print("index-3 arr1: ", arr1[3])
#index out of bound
#print("index-10 arr1: ", arr1[10])

[1, 6, 34.7, 36, 346, 37.18, 6]

arr1 length:  7
arr2 length:  5

item:  1
item:  6
item:  34.7
item:  36
item:  346
item:  37.18
item:  6

-- array index --

index-0 arr1:  1
index-1 arr1:  6
index-3 arr1:  36

In [ ]:
#week3-demo-inv-app-2.py

"""

Write a program to compute total of twenty invoice/inventory items.
note: can use integer or float numbers
note: enter items into an array
note: prmopt for user email , convert email to uppercase
note: round to 2 decimal places

input example:
item1 -- 1
item2 -- ?
.....

output:

USER@EMAIL.COM
discount:
total :

#print("total: ", total)
#note: display other print formatting statements

"""

#array/list - store sequence/collection of data in memory referenced by a variable name
#examepl: arr1 = [1,6,34.7,36,346,37.18]
#can contain duplicates, can contain unique values, can be read only
#length of array, access index of an array
#loop through array, access index, insert, update, delete, search, if exists

items = [1,6,34.7,36,346,37.18,6,20,19,17,12.2,7,126.2,72,31.7,18.22,31,44,53,112.34]

print(items)
print("\nitems length:", len(items))

#total = (items[0] + items[1] + items[2] + items[3]) #...item[4]....
total = 0
for i in items:
  total = total + i

email = input("email: ").upper()

rtotal = round(total,2)

print("\n email: ", email)
print("\n total: ", total)
print("\n round total: ", rtotal)

#input email
#round

[1, 6, 34.7, 36, 346, 37.18, 6, 20, 19, 17, 12.2, 7, 126.2, 72, 31.7, 18.22, 31, 44, 53, 112.34]

items length: 20
email: ann@gmail.com

 email:  ANN@GMAIL.COM

 total:  1030.5400000000002

 round total:  1030.54

In [18]:
#compute percent

amount = 1000
percent = (10/100)
# module - % - remainder division

discount = (amount * percent)
total_discount = (amount - discount)
total_bonus = (amount + discount)

print("amount: ", amount)
print("percent: ", percent, " = ", (percent*100))
print("percent total: ", total_discount)
print("bonus total: ", total_bonus)

amount:  1000
percent:  0.1  =  10.0
percent total:  900.0
bonus total:  1100.0

In [ ]:
"""

Write a program to compute total of twenty invoice/inventory items.
note: can use integer or float numbers
note: enter items into an array
note: prmopt for user email , convert email to uppercase
note: round to 2 decimal places
note: if total is > 100 then apply 10% discount

input example:
item1 -- 1
item2 -- ?
.....

output:

USER@EMAIL.COM
discount:
total :

#print("total: ", total)
#note: display other print formatting statements

"""

#Data Structure introduction (array, list, set tuple,, dict)
- google classroom summay

<pre>
array = sequence/collection of [same data types], ie: same int, same float, etc.. ie:  [1,2,3,3,4,5]
list = sequence/collection of can heva mixed or different data type , int and string, or int and boolean, other
       can have duplicate values. ie: [1,2,3,3,4,5]
tuple = read-only [list] , non updatable when created, also called, ie: (1,2,3,3,4,5)
set = unique [list] of data, non duplicate list, 1,2,3,3,4,5 -- set generated by python =  {1,2,3,4,5}
dict = key/value pair , key are unique, non duplicate: {key1:1,key2:5,item3:10}

------------
#can contain duplicates, can contain unique values, can be read only
#length of array, access index of an array
#loop through array, access index, insert, update, delete, search, if exists

-----------

array/list = [1,2,3,3] #can contain duplicate
tuple = (1,2,3,3) #read-only
set = {1,2,3} # non  duplicate
dict = {k1:1,k2:2,item3:3} #key , non duplicate

</pre>

In [ ]:
#Data Structure introduction (array, list, set tuple,, dict)

"""
#can contain duplicates, can contain unique values, can be read only
#length of array, access index of an array
#loop through array, access index, insert, update, delete, search, if exists
"""

str_array_list = "intro to python" #string is array/list - sequence of characters
items = [1,6,34.7,36,346,37.18,6,20,19,17,12.2,7,126.2,72,31.7,18.22,31,44,53,112.34]

#-- collection fundamentals - array/list,tuple,set,map

#length

#index or slicers/slicing - n/a - set, dict

#loop - for, while, list comprehension

#crud - create/insert, update, delete

#if item exist in collection - list/array,set,tuple,dict

#list comprehension - optimized way of looping on one line
#------------------------------------------------------------------
#- for i in items
#- [for i in items] - write loop in 1 line
#use list comprehension instead of nested for loops

#slicers - extract a range of elements - optimized/optional/short hand way of
#- ie: range(1,10,2) - range(start,stop,skip)
#- ie: items[1:10:2] - start:stop:skip
#use slicers for nested lookup
#ie: extraing large number of sequence of itemsor nesting
#instead of using multiplie for loops use slicers
#example - used often in mathimatical, calculations , formulas, ai/ml

In [2]:
#Data Structure introduction (array, list, set tuple,, dict)
#list-demo-1.py

"""
#can contain duplicates, can contain unique values, can be read only
#length of array, access index of an array
#loop through array, access index, insert, update, delete, search, if exists
"""

title = "intro to python" #string is array/list - sequence of characters
items = [1,6,34.7,36,346,37.18,6,20,19,17,12.2,7,126.2,72,31.7,18.22,31,44,53,112.34]

#-- collection fundamentals - array/list,tuple,set,map

print("")
print("title:",title)
print("items: \n", items)
print("")

#length
print("title length: ", len(title))
print("items length: ", len(items))
print("")

#index or slicers/slicing - n/a - set, dict

print("title index=x", title[1])
print("title index=x", title[4])
print("items index=x", items[2])
print("items index=x", items[5])
print("")

#loop - for, while, list comprehension

#crud - create/insert, update, delete

#if item exist in collection - list/array,set,tuple,dict

#list comprehension - optimized way of looping on one line
#------------------------------------------------------------------
#- for i in items
#- [for i in items] - write loop in 1 line
#use list comprehension instead of nested for loops

#slicers - extract a range of elements - optimized/optional/short hand way of
#- ie: range(1,10,2) - range(start,stop,skip)
#- ie: items[1:10:2] - start:stop:skip
#use slicers for nested lookup
#ie: extraing large number of sequence of itemsor nesting
#instead of using multiplie for loops use slicers
#example - used often in mathimatical, calculations , formulas, ai/ml

title: intro to python
items:
 [1, 6, 34.7, 36, 346, 37.18, 6, 20, 19, 17, 12.2, 7, 126.2, 72, 31.7, 18.22, 31, 44, 53, 112.34]

title length:  15
items length:  20

title index=x n
title index=x o
items index=x 34.7
items index=x 37.18

In [3]:
#Data Structure introduction (array, list, set tuple,, dict)
#list-demo-1.py

"""
#can contain duplicates, can contain unique values, can be read only
#length of array, access index of an array
#loop through array, access index, insert, update, delete, search, if exists
"""

title = "intro to python" #string is array/list - sequence of characters
items = [1,6,34.7,36,346,37.18,6,20,19,17,12.2,7,126.2,72,31.7,18.22,31,44,53,112.34]

#-- collection fundamentals - array/list,tuple,set,map

print("")
print("title:",title)
print("items: \n", items)
print("")

#length
print("title length: ", len(title))
print("items length: ", len(items))
print("")

#index or slicers/slicing - n/a - set, dict
#https://www.w3schools.com/python/python_strings_slicing.asp

print("title index=1: ", title[1]) #slicers=[1:]
print("title index=4: ", title[4]) #slicers=[4:]
print("items index=2: ", items[2]) #slicers=[2:]
print("items index=5: ", items[5]) #slicers=[1:]
print("")

#index or slicers/slicing - n/a - set, dict
#negative indexing

print("")
print("---negative index--")
print("")
print("title index=-1: ", title[-1]) #slicers=[-1:]
print("title index=-4: ", title[-4]) #slicers=[-4:]
print("items index=-2: ", items[-2]) #slicers=[-2:]
print("items index=-5: ", items[-5]) #slicers=[-5:]
print("")

#loop - for, while, list comprehension
#https://www.w3schools.com/python/python_lists_comprehension.asp

#crud - create/insert, update, delete

#if item exist in collection - list/array,set,tuple,dict

#list comprehension - optimized way of looping on one line
#------------------------------------------------------------------
#- for i in items
#- [for i in items] - write loop in 1 line
#use list comprehension instead of nested for loops

#slicers - extract a range of elements - optimized/optional/short hand way of
#- ie: range(1,10,2) - range(start,stop,skip)
#- ie: items[1:10:2] - start:stop:skip
#use slicers for nested lookup
#ie: extraing large number of sequence of itemsor nesting
#instead of using multiplie for loops use slicers
#example - used often in mathimatical, calculations , formulas, ai/ml

title: intro to python
items:
 [1, 6, 34.7, 36, 346, 37.18, 6, 20, 19, 17, 12.2, 7, 126.2, 72, 31.7, 18.22, 31, 44, 53, 112.34]

title length:  15
items length:  20

title index=1:  n
title index=4:  o
items index=2:  34.7
items index=5:  37.18


---negative index--

title index=-1:  n
title index=-4:  t
items index=-2:  53
items index=-5:  18.22